@use 'variables' as var;

.header {
  flex: 0 0 10%;
}

.main {
  flex: 1;
}

.footer {
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
  }

  &__link {
    text-decoration: none;
    color: var.$color-secondary-policy;
    font-size: 0.85rem;
    margin-left: 1rem;
    margin-right: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
